body {
  display: block;
  font-family: arial,sans-serif;
}

.header-container {
  background-color: #a4c1f4;
  padding: 18px;
}

.header-logo-nav-wrap {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-end;
  align-items: baseline;
}

.header-logo {
  font-weight: normal;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  padding-left: 30px;
}

.header-nav > ul {
  list-style: none;
  padding: 10px;
  margin: 0px;
  display: flex;
}

.header-nav > ul > li {
  width: 100px;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  word-break: break-all;
}

.alert-color {
  color: red;
}

.section {
  /* margin-left: 80px; */
  margin: 50px 80px;
}

.section > ul {
  list-style: none;
}

.section > ul > hr {
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 0;
}

.footer {
  background-color: #a4c1f4;
  text-align: center;
}

.footer > p {
  font-size: 18px;
  padding: 30px;
}
