{% extends 'layout.html' %}
{% block body %}

{% if session.alert %}
<p>{{ session.alert}}</p>
{% endif %}
<form action="{{ url_for('change_password') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <p><label for="title">旧パスワード：</label><input type="text" name="old_password"></p>
    <p><label for="title">新パスワード：</label><input type="text" name="password"></p>
    <p><label for="title">新パスワード（確認）：</label><input type="text" name="confirm_password"></p>
    <p><input type="submit" value="送信"></p>
</form>
{% endblock %}