{% extends 'layout.html' %}
{% block body %}
    <section class="section">
      <h1>ブログ一覧</h1>
      <ul>
        <!-- views.index():で、posts = DBMnager.get_all_posts()して、forで展開 -->
        {% for post in posts %}
        <li><a href="/post_detail/{{post[0]}}">{{ post[1] }}</a></li>
        <!-- views.pyのpost_detailメソッドにpost.idを渡し、レンダリングする -->
        <!-- <li><a href="/post_detail/{{ post.id }}">{{ post.title }}</a></li> -->
        {% endfor %}

      </ul>
      <!-- <table>
        <tr>
          <td>タイトル１</td>
        </tr>
        <tr>
          <td>タイトル２</td>
        </tr>
        <tr>
          <td>タイトル３</td>
        </tr>
        <tr>
          <td>タイトル４</td>
        </tr>
      </table> -->
    </section>
{% endblock %}
