<!-- ヘッダーの共通部分です。 -->
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>やさしい共同ブログ</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="../static/javascript/app.js"></script>
    <meta name="csrf_token" content="{{ csrf_token() }}">
  </head>
  <body>
    <header class="header-container">
      <div class="header-logo-nav-wrap">
        <h1 class="header-logo"><a href="#">やさしい共同ブログ</a></h1>
          <nav class="header-nav">
            {% if not session.user %}
            <ul>
              <li><a href="#">SignUp</a></li>
              <li><a href="/signin">SignIn</a></li>
            </ul>
            {% else %}
            <ul>
              <li>{{ session.user.id }}</li>
              <li><a href="#">CreatePost</a></li>
              <li><a href="/signout">SignOut</a></li>
            </ul>
            {% endif %}
          </nav>
      </div>
    </header>
<!-- ここまでヘッダーです -->

{% block body %}
{% endblock %}

<!-- フッターの共通部分です -->
<footer class="footer">
  <p>やさしい会Pythonチーム All Rights Reserved.</p>
</footer>
</body>
</html>
<!-- ここまでフッターです -->
