{% extends 'layout.html' %}
{% block body %}

{% if session.alert %}
<p>{{ session.alert}}</p>
{% endif %}
<form action="{{ url_for('create_user') }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <p><label for="title">ユーザー名：</label><input type="text" name="username" value="{{ session.username }}"></p>
    <p><label for="title">e-mail：</label><input type="text" name="email" value="{{ session.email }}"></p>
    <p><label for="title">パスワード：</label><input type="password" name="password1"></p>
    <p><label for="title">パスワード（確認）：</label><input type="password" name="password2"></p>
    <p><input type="submit" value="送信"></p>
</form>
{% endblock %}