{% extends 'layout.html' %}
{% block body %}

{% if session.alert %}
<p>{{ session.alert}}</p>
{% endif %}
<form action="{{ url_for('update_page', post_id=session.post_id) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <input type="hidden" name="post_id" value="{{ session.post_id }}"/>
    <p><label for="title">タイトル：</label><input type="text" name="title" value="{{ session.title }}"></p>
    <p><label for="body">本文：</label><textarea name="body" rows="4" cols="40">{{ session.body }}</textarea></p>
    <p><input type="submit" value="送信"></p>
</form>
{% endblock %}